<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OtterLLC"
        tools:targetApi="31">
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.example.otterllc.GlavnayActivity" />
        <activity android:name="com.example.otterllc.ViborActivity" />
        <activity android:name="com.example.otterllc.SozdanieActivity" />
        <activity android:name="com.example.otterllc.UchetkaActivity" />
        <activity android:name="com.example.otterllc.PorodaActivity" />
        <activity android:name="com.example.otterllc.GenderActivity" />
        <activity android:name="com.example.otterllc.NameActivity" />
        <activity android:name="com.example.otterllc.MenuActivity" />
        <activity android:name="com.example.otterllc.SettingsActivity" />
        <activity android:name="com.example.otterllc.ObzorActivity" />
        <activity android:name="com.example.otterllc.ProfileActivity" />
        <activity android:name="com.example.otterllc.ConsultationActivity" />
        <activity android:name="com.example.otterllc.PetsActivity" />

    </application>

</manifest>